{% load static %}
<!doctype html>
<html lang="it">
    <head>
        <title> Password Dimenticata </title>
        <!-- Inclusione file css  -->
        <link rel="stylesheet" href="{% static "css/generale.css" %}">
        <link rel="stylesheet" href="{% static "css/forms.css" %}">
    </head>
    <body>

        <div class="form-container">

            <div class="form-box">

                <h2>Inserisci la tua e-mail</h2><br>

                <!-- Form intorno all'input email e al pulsante -->
                <form id="passwordForm">
                    <input type="email" id="email" name="email" required>
                    <button type="submit" id="recuperaPassword">Recupera password</button>
                </form>

                <br>

                <p id="confirmationMessage" class="recupero"></p>

            </div>
        </div>

        <!-- Codice Javascript per far vedere un messaggio all'utente quando cerca di recuperare la password -->
        <script>
            
            document.getElementById('passwordForm').addEventListener('submit', function(event) {
                event.preventDefault(); 

                var email = document.getElementById('email').value;
                var confirmationMessage = document.getElementById('confirmationMessage');

                // Verifica che l'email sia presente nel database
                fetch('{% url 'verifica_email' %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: 'email=' + encodeURIComponent(email)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Errore nella richiesta.');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.exists) {
                        confirmationMessage.innerText = "Controlla la tua e-mail per recuperare la tua password!";
                    } else {
                        confirmationMessage.innerText = "L'e-mail inserita non è presente nel nostro database.";
                        confirmationMessage.style.color = 'red';
                    }
                    confirmationMessage.style.display = 'block';
                    document.getElementById('email').value = '';
                })
                .catch(error => {
                    confirmationMessage.innerText = "Si è verificato un errore. Riprova più tardi.";
                    confirmationMessage.style.color = 'red';
                    confirmationMessage.style.display = 'block';
                    console.error('Errore:', error);
                });

            });
        </script>
    </body>
</html>
